################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwoSumClass/TwoSumClass.vcxproj.user
/TwoSumClass/TwoSumClass.vcxproj.filters
/TwoSumClass/TwoSumClass.vcxproj
/TwoSumClass/TwoSumClass.sln
/TwoSumClass/Debug/vc142.pdb
/TwoSumClass/Debug/vc142.idb
/TwoSumClass/Debug/TwoSumClass.vcxproj.FileListAbsolute.txt
/TwoSumClass/Debug/TwoSumClass.tlog/TwoSumClass.lastbuildstate
/TwoSumClass/Debug/TwoSumClass.tlog/link.write.1.tlog
/TwoSumClass/Debug/TwoSumClass.tlog/link.read.1.tlog
/TwoSumClass/Debug/TwoSumClass.tlog/link.command.1.tlog
/TwoSumClass/Debug/TwoSumClass.tlog/CL.write.1.tlog
/TwoSumClass/Debug/TwoSumClass.tlog/CL.read.1.tlog
/TwoSumClass/Debug/TwoSumClass.tlog/CL.command.1.tlog
/TwoSumClass/Debug/TwoSumClass.pdb
/TwoSumClass/Debug/TwoSumClass.log
/TwoSumClass/Debug/TwoSumClass.ilk
/TwoSumClass/Debug/TwoSumClass.exe.recipe
/TwoSumClass/Debug/TwoSumClass.exe
/TwoSumClass/Debug/TwoSumClass.Build.CppClean.log
/TwoSumClass/Debug/TwoSum.obj
/TwoSumClass/Debug/Source.obj
/TwoSumClass/.vs/TwoSumClass/v16/Browse.VC.opendb
/TwoSumClass/.vs/TwoSumClass/v16/Browse.VC.db-wal
/TwoSumClass/.vs/TwoSumClass/v16/Browse.VC.db-shm
/TwoSumClass/.vs/TwoSumClass/v16/Browse.VC.db
/TwoSumClass/.vs/TwoSumClass/v16/.suo
/.vs/VS_Git/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
